.landing-container {
    background-image: url('../../../assets/weather-bg.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    z-index: -1;

    p, button {
        color: white;
        text-align: center;
        margin: 10px 0;
    }

    .larger-text {
        font-size: 24px;
        font-weight: 700;
    }
    
    .text-container {
        background: rgba(0, 0, 0, 0.5);
        padding: 20px;
        border-radius: 10px;
        max-width: 600px;
        margin-top: 8rem;
        text-align: center;

        button {
            display: none; /* Hide the button by default */
            color: white;
            text-align: center;
            margin: 10px 0;
            padding: 10px 20px;
            background-color: rgba(0, 0, 0, 0.5);
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s ease;
      
            &:hover {
              background-color: rgba(0, 0, 0, 0.7);
            }
      
            @media (max-width: 991px) {
              display: inline-block; /* Show the button on small screen sizes */
            }
          }
    }
}